<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="white">
  <form [formGroup]="credentials" (ngSubmit)="login()" class="ion-padding">

    <ion-input 
      fill="solid"
      class="ion-margin-bottom"
      type="email" 
      placeholder="Email" 
      formControlName="email"
      errorText="Email não é válido"
    ></ion-input>

    <ion-input
      fill="solid" 
      class="ion-margin-bottom"
      type="password" 
      placeholder="Senha" 
      formControlName="password"
      errorText="Mínimo de 6 caracteress"
    ></ion-input>
    
    <ion-button expand="full" type="submit" [disabled]="!credentials.valid">Login</ion-button>
    <ion-button expand="full" type="button" (click)="register()">Cadastrar</ion-button>
  </form>

</ion-content>
